[Unit]
Description=T-Pot
Wants=docker.service network-online.target
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=5
Type=simple
TimeoutSec=infinity
Environment="DOCKER_CLIENT_TIMEOUT=300" "COMPOSE_HTTP_TIMEOUT=300"
ExecStartPre=/home/$LOGNAME/tpotmobile/tools/wait4net.sh
ExecStartPre=-/usr/bin/docker compose -f /home/$LOGNAME/tpotce/docker-compose.yml down -v
ExecStart=/usr/bin/docker compose -f /home/$LOGNAME/tpotce/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /home/$LOGNAME/tpotce/docker-compose.yml down -v
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
